
    <footer class="footer bg-dark py-2 mt-auto text-center fixed-bottom">
        <div class="container">
            <span class="text-muted" >Crystal Haven Gaming 2021</span>
        </div>
        </footer>


