<% layout('layouts/boilerplate') %>

<div class="container my-5 chg-color-text-alt">

    <h1 id="administrators-handbook" class="mb-5">Administrator's Handbook</h1>

   
    <h2 id="duties-module">Duties Module</h2>
    <ul>
    <li>This is required for the event scheduler module
    <ul>
    <li>Crystal Haven leadership will decide which duties are popular at any given time and will add them to the system
    <ul>
    <li>Leadership can also add some 'generic' duties to classify things like Doggo farms, etc. under</li>
    </ul></li>
    <li>Event leaders will select the Duty and then Schedule their event for that duty.
    <ul>
    <li>The reason I designed it this way was to lower the number of 'free text' sections that would add confusion.</li>
    </ul></li>
    </ul></li>
    </ul>
    <h2 id="events-module">Events module</h2>
    <ul>
    <li>This is dependant on the Duties and Jobs modules
    <ul>
    <li>The Event leader will select the duty to schedule an event against</li>
    <li>The Leader will fill in the relevant details and select either the default set of roles for that duty, or the more granular control over specific jobs</li>
    <li>Once the event is scheduled, the bot will do 'things' that we still have to discuss</li>
    </ul></li>
    </ul>
   
  


</div>